= simple_form_for(@profile) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.simple_fields_for :email_addresses do |builder|
      = render 'email_address_fields', f: builder
    .links
      = link_to_add_association 'Add Email Address', f, :email_addresses
    = f.simple_fields_for :jids do |builder|
      = render 'jid_fields', f: builder
    .links
      = link_to_add_association 'Add JID', f, :jids

  .actions
    = f.button :submit
